{% extends 'home.html' %}
{% block title %}Browse by Book Name{% endblock title %}
{% block body %}
<div class = "container">
    <table class="table table-striped table-bordered table-sm">
        <caption class="caption-top">List of Books</caption>
        <thead class="thead-dark">  
            <tr>  
                <th>Barcode</th>  
                <th>Title</th>  
                <th>Author</th>  
                <th>Language</th>
                <th>Edition</th> 
            </tr>  
        </thead>  
        <tbody>  
            {% if books|length > 0 %}
                {% for book in books %}  
                    <tr>  
                        <td>{{ book.code }}</td>  
                        <td>{{ book.title }}</td>  
                        <td>{{ book.author }}</td>  
                        <td>{{ book.language}}</td> 
                        <td>{{ book.edition}}</td>  
                    </tr>  
                {% endfor %}
            {% endif %} 
        </tbody>  
    </table>  
</div>

{% endblock body %}